.banner {
    margin: 40px 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.row-banner {
    display: flex;
    flex-wrap: wrap;
}

.col-banner {
    flex: 40%;
    padding: 20px;
}

.row-banner img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.row-banner p {
    color: white;
}

.flex-img {
    padding: 5% 5% 0;
}

.banner #greet {
    padding-top: 5px;
    font-size: 20px;
}

.banner #name {
    font-size: 35px;
    font-weight: bold;
    padding-top: 15px;
}

.banner #skills {
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}

.banner #myself {
    padding-top: 15px;
    padding-bottom: 15px;
}